main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}
.App{
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  
}
@media (max-width: 520px) {
  .App {
    padding-top: 60px;
  }
  .container{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
