#root{
  flex-grow: 1;
}
.App{
  display: flex;
  height: 100%;
}
.main {
  flex-grow: 1;
}

.wish {
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}

.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 520px) {
  .wish {
    padding-top: 60px;
  }
}
